body {
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 500px auto 200px;
  background: #cd92c1;
  /* opacity: 80%; */
}

#logo {
  width: 300px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  font-family: "lato", sans-serif;
}

nav a:hover {
  background-color: #edd0e8;
  padding: 50px;
}

.book-now {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.book {
  color: #cd92c1;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffcccc;
  font-size: 20px;
  border-radius: 15px;
  font-family: "lato", sans-serif;
  margin-left: 20px;
}
